  <mat-toolbar>
    <button  type="button" 
    mat-icon-button 
    class="example-icon"     
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <span>Lista de personajes</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="salir()">
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
      <img class="avatar mat-elevation-z8" src="../../assets/fotoAutor.jpg" alt="imagen">
      <h4 class="name">Autor: Cristian Casallas</h4>
      <p class="designation">Listados de personajes</p>
      <mat-divider></mat-divider>
      <mat-action-list>
        <button mat-button class="menu-button" *ngFor="let item of menu" [routerLink]="item.redirect">
          <mat-icon matListIcon>folder</mat-icon> 
          {{item.nombre}}</button>
      </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z4">
        <router-outlet></router-outlet>    
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>