
  mat-toolbar {
    background: #004a9f;
    color: white;
  }

  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;

}

.content{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  // display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
  border-radius: 10px;
}

  mat-sidenav-container{
    height: calc(100vh - 64px);
  }

  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
      margin-right: 8px;
    }
  }

  .name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
  }

  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgray;    
  }

  mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }

.example-spacer {
    flex: 1 1 auto;
  }

  .avatar{
    border-radius: 100%    ;
    -webkit-border-radius: 100%    ;
    -moz-border-radius: 100%    ;
    -ms-border-radius: 100%    ;
    -o-border-radius: 100%    ;
}


