<mat-card>
  <div class="example-container mat-elevation-z8">
    <div class="filter">
      <mat-form-field appearance="fill">            
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilterLP($event)" placeholder="Ex. ium" #input autocomplete="off">        
      </mat-form-field>
  </div>
    <table mat-table matSort [dataSource]="dataSource" class="example-table"
    matSort matSortActive="id" matSortDisableClear>
  
      <!--  Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!--  Column -->
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> img </th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element?.img" alt="imagen">
        </td>
      </ng-container>
  
      <!--  Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!--  Column -->
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> editar </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-button (click)=openDialog(element.idel) class="editarBTN">editar</button>  
        </td>
      </ng-container>
      
      <!--  Column -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> eliminar </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-button (click)="eliminarDeLalista(element.idel)" color="warn" class="eliminarBTN">eliminar</button>  
        </td>
      </ng-container>
      
      <tr mat-header-row 
          *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row                 
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25]"
        >
    </mat-paginator>          
  </div>                     
</mat-card>
