<div class="login-wrapper">
    <div class="Fondo"></div>
    <div class="form-wrapper">
        <div class="wrapper">
            <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
            <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="ingresar()" id="formContent">
                <mat-card class="full-screen">
                    <h1>login</h1>
                    <mat-form-field appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input type="text" matInput formControlName="usuario">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                        <input type="password" matInput autocomplete="off" formControlName="password">
                    </mat-form-field>
                    <button type="submit" mat-button class="boton" [disabled]="loginForm.invalid">Aceptar</button>
                </mat-card>
            </form>     
        </div>
    </div>
</div>
