<h1 mat-dialog-title>Editar personaje</h1>
<form [formGroup]="formEditar" (ngSubmit)="guardarLista(unidad.idel, unidad.id)">
    <div mat-dialog-content>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Img (url)</mat-label>
                <input type="text" matInput formControlName="img" name="unidad.img" [(ngModel)]="unidad.img">
            </mat-form-field><br>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Personaje</mat-label>
                <input type="text" matInput formControlName="name" name="unidad.name" [(ngModel)]="unidad.name">
            </mat-form-field>
    </div>
        <div mat-dialog-actions>
            <button type="submit" mat-button mat-dialog-close class="ancho aceptarBTN">Aceptar</button>
        </div>
</form>


