<mat-card>
  <div class="example-container mat-elevation-z8">
    <div class="filter">
        <mat-form-field appearance="fill">            
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">        
        </mat-form-field>
    </div>
    
    <!-- <h2 *ngIf="listPersonaje.length == 0">NO TIENES PERSONAJES</h2> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>      
      
        <!-- Position Column -->
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef> Img </th>
          <td mat-cell *matCellDef="let element"> 
            <img [src]="element.attributes?.image?.tiny" alt="imagen"></td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="personaje">
          <th mat-header-cell *matHeaderCellDef> Personaje </th>
          <td mat-cell *matCellDef="let element"> {{element.attributes.name}} </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="agregar">
          <th mat-header-cell *matHeaderCellDef> agregar </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-button (click)="seleccionar(element.id)" class="agregarBTN">Agregar</button>  
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator 
          [length]="total"               
          [pageSize]="limit"
          showFirstLastButtons
          [pageSizeOptions]="[5, 10, 15, 20]"
          (page)="OnPageActivated($event)">              
       </mat-paginator>
  </div>
</mat-card>