.example-container {
    height: 100%;
    overflow: auto;
  }
table {
    width: 100%;
    .mat-header-cell{
        background-color: rgb(37, 37, 37); 
        color:aliceblue;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }
    .mat-row:nth-child(odd){
        background-color: darken($color: rgba(0, 0, 0, 0.192), $amount: 10%);
    }
}
.filter{
    display: flex;
    justify-content: center;
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}
.agregarBTN{
    background-color: rgb(133, 133, 133);
    color:white;
}